{% extends 'posts/fullpage.html' %}
{% load staticfiles %}
{% block body_block %}

<section class="fp-section border-bottom">
        <div class="section section-top">
<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col">News</th>

    </tr>
  </thead>
  <tbody>
      {% csrf_token %}
      {% for nw in news %}
      <tr>

        <td align="center">{{ nw.StockNews }}</td>
      </tr>
      {%endfor%}



  </tbody>
</table>

        </div></section>


{% endblock %}